/*Estilos login*/
.login_txt {
    margin-top: 30px;
}


.store {
    width: 400px;
}

.check_login {
    display: flex;
    flex-direction: row;
}
tbody{
    display: flex;
}
td label{
    padding-left:10px
}